@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: transparent;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
